<a href="https://colab.research.google.com/github/TVHM/summer_microcredentials_BUS/blob/main/Assgn_2_L5_If_elif_else_statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lesson 5 If elif else Statements 

1.   Make a list of 5 or more usernames, including an admin account. Imagine you are writing code
that will welcome people to your application on login. Loop through the list and print your
greeting.

     a. If the admin account logs in, give them a special greeting. They’re the admin, after all!
     b. Other users can get the generic greeting

2. Store numbers 1-10 in a list
a. Loop through the list
b. Use an if-elif-else chain inside your loop to print the ordinal ending for each number –
for example – 1 st , 2 nd , 3 rd … etc.

In [ ]:
usernames = ['admin@mycompany.com', 'ben@mycompany.com','cathy@mycompany.com','dennis@mycompany.com','sasha@mycompany.com']

x = 'usernames'

if x == 'admin@mycompany.com':
  print('Welcome friend!')
else:
  print('Welcome!')

Welcome!

In [ ]:
store = [1,2,3,4,5,6,7,8,9,10]
for show in store:
  print(show)
    
num = int
if num in store == int:
  print(store + "th")

1
2
3
4
5
6
7
8
9
10

In [ ]:
num = {
    "1":"st",
    "2":"nd"
}  
for key,value in num.items():
  print(key)
  print(value)

1
st
2
nd

SyntaxError: ignored

In [ ]:
a = 4,5,6,7,8,9,10
b = 1
c = 2
d = 3
if a > b:
  print(a,th)
elif

TypeError: ignored