<a href="https://colab.research.google.com/github/TVHM/summer_microcredentials_BUS/blob/main/Assignment__for_loop_Unit_2__L4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Assignment_for_loop

Create a list that holds 5 data variables.  Print out those variables by using a for loop.  Modify your for loop to add a message to your for loop. Use a for loop to print even numbers from 1-20. Sort list in alphabetical order.

Print out the first three elements of your list, then create a loop to print the last 2 elements.

Slide and Lecture In Class  https://colab.research.google.com/drive/142rhfvjmUwoBCmaUfw5Zr-LcJRuuI6Ta#scrollTo=vz3yjkEffDzO

In [23]:
even_numbers = list(range(0,21, 2))
print(even_numbers)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [26]:
odd_numbers = list(range(1,22, 2))
print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21]

In [10]:
buyer_persona = ['age','income','education','gender','job_type']
message = "Demographic data "
print(message)
for show in buyer_persona:
  print(show)

Demographic data
age
income
education
gender
job_type

In [27]:
#slicing
print(buyer_persona[0:3])

['age', 'income', 'education']

In [55]:
print(buyer_persona[3:])

['gender', 'job_type']