<a href="https://colab.research.google.com/github/TVHM/summer_microcredentials_BUS/blob/main/Assignment__for_koop_Unit_2__L4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Create a list that holds 5 data variables.  Print out those variables by using a for loop.  Modify your for loop to print even numbers 1-20, then sort your list in alphaeticalorder.  Print out the first three elements of your list, then create a loop to print the last 2 elements.
Slide and Lecture In Class  https://colab.research.google.com/drive/142rhfvjmUwoBCmaUfw5Zr-LcJRuuI6Ta#scrollTo=vz3yjkEffDzO

In [4]:
buyer_persona = ['age','income','education','gender','job_type']
for show in buyer_persona:
  print(show)

age
income
education
gender
job_type