<a href="https://colab.research.google.com/github/TVHM/summer_microcredentials_BUS/blob/main/Group_7_mcphearson__diabetes_miniproject_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [88]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix
from sklearn import svm

Overview

The PIMA Indian Diabetes Disease Database constraint, consisting of women at least 21 years of age and of Pima Indian descent, is admittedly a diagnostic drawback in predicting whether or not a all patients admitted for hostpital care have diabetesm the basis of the model certainly consists of a universal approach, diagnostic measurements that include such as  diabtes pedigree function, skin thickness and age. 

Predictor - independent variables
Target      dependent variable

Data Collection and Analysis

PIMA Data Set

In [89]:
 #loading the data set to a dataframe and data varaiable defined 
diabetes_dataset = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/diabetes.csv')
 
konstrnt_stud = diabetes_dataset

In [90]:
pd.read_csv?

In [91]:
konstrnt_stud.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [92]:
dataset = konstrnt_stud

In [93]:
dataset.shape

(768, 9)

In [94]:
dataset.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [95]:
#find missing values
dataset.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [96]:
# outocome 0, 1 
konstrnt_stud['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [97]:
konstrnt_stud.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [98]:
X = konstrnt_stud.drop(columns = 'Outcome', axis=1)
Y = konstrnt_stud['Outcome']

In [99]:
print(X)

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
1              1       85             66             29        0  26.6
2              8      183             64              0        0  23.3
3              1       89             66             23       94  28.1
4              0      137             40             35      168  43.1
..           ...      ...            ...            ...      ...   ...
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age
0                       0.627   50
1                       0.351   31
2                       0.672   32
3                       0.167   21
4                       2.288   33
..                        ...  ...
763                     0.171   63
764                     0.340   27
765                     0.245   30
766                     0.349   47
767                     0.315   23

[768 rows x 8 columns]

In [100]:
print(Y)

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

Data Standardization

In [101]:
#scaler variable 
scaler = StandardScaler()

In [102]:
scaler.fit(X)

StandardScaler()

In [103]:
standardized_data = scaler.transform(X)

In [104]:
print(standardized_data)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

In [105]:
X = standardized_data
Y = konstrnt_stud['Outcome']

In [106]:
print(X)
print(Y)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]
0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

Train Test Split

In [107]:
# name varibles 
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.2, stratify=Y, random_state=2)

In [108]:
print(X.shape, X_train.shape, X_test.shape)

(768, 8) (614, 8) (154, 8)

#Training the model

In [109]:
classifier = svm.SVC(kernel='linear')

In [110]:
#training the support vector Machine Classiifier
classifier.fit(X_train, Y_train)

SVC(kernel='linear')

Model Evaluation

Accuracy Score

In [111]:
#accuracy score on the training data

In [112]:
X_train_prediction = classifier.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [113]:
print('Accuracy score of the training data : ', training_data_accuracy)

Accuracy score of the training data :  0.7866449511400652

In [114]:
X_test_prediction = classifier.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [115]:
print('Accuracy score of the test data : ', test_data_accuracy)

Accuracy score of the test data :  0.7727272727272727

Making a predictiive Sytem

In [116]:
input_data = (8,99,84,0,0,35.4,0.388,50)

#changing the input data to nupy array
input_data_as_numpy_array = np.array(input_data)

#reshape the array as we are prdicting for one instance 
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)
                                            
#standardized the input data
std_data = scaler.transform(input_data_reshaped)
print(std_data)

prediction = classifier.predict(std_data)
print(prediction)

[[ 1.23388019 -0.68523633  0.77001375 -1.28821221 -0.69289057  0.43246741
  -0.25331639  1.4259954 ]]
[0]

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"

In [117]:
konstrnt_stud.groupby('SkinThickness').mean()

,Pregnancies,Glucose,BloodPressure,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
SkinThickness,,,,,,,,
0,4.638767,123.449339,64.118943,0.000000,30.129956,0.393291,37.251101,0.387665
7,9.000000,110.500000,76.000000,292.000000,23.600000,0.754000,52.000000,0.500000
8,1.000000,99.500000,64.000000,91.000000,24.950000,1.042500,28.500000,0.000000
10,1.400000,93.400000,54.400000,79.800000,26.200000,0.515000,22.200000,0.000000
11,2.166667,98.333333,72.666667,69.166667,25.083333,0.430667,24.333333,0.000000
12,2.571429,109.000000,70.285714,79.285714,25.671429,0.464571,29.571429,0.142857
13,1.636364,109.363636,61.090909,97.636364,22.954545,0.366636,23.272727,0.090909
14,1.500000,135.666667,69.666667,176.500000,26.783333,0.428667,23.833333,0.333333
15,2.928571,118.642857,72.071429,78.785714,26.878571,0.432571,30.357143,0.071429
16,1.833333,110.333333,69.666667,103.666667,27.983333,0.464500,26.166667,0.000000
17,2.785714,115.000000,69.428571,103.000000,26.385714,0.347000,27.571429,0.142857
18,2.800000,108.300000,67.800000,69.300000,27.460000,0.554900,31.450000,0.200000
19,3.111111,114.944444,67.777778,62.111111,26.444444,0.453167,29.611111,0.166667
20,2.538462,93.615385,63.461538,87.538462,28.238462,0.475615,28.615385,0.153846
21,3.400000,125.500000,67.200000,125.000000,29.340000,0.511100,29.200000,0.200000
22,2.937500,113.250000,64.437500,63.187500,28.468750,0.555688,27.750000,0.250000
23,3.045455,108.636364,66.409091,118.681818,28.690909,0.568409,28.909091,0.181818
24,4.250000,115.500000,73.833333,162.416667,30.041667,0.545417,35.000000,0.500000
25,3.062500,113.125000,71.937500,85.812500,31.606250,0.380875,29.937500,0.312500
26,4.125000,130.062500,71.875000,134.187500,32.412500,0.539125,36.562500,0.375000
27,3.000000,124.956522,72.304348,104.782609,33.382609,0.386174,31.608696,0.304348
28,4.050000,111.250000,70.000000,73.100000,31.795000,0.490950,31.000000,0.250000
29,2.411765,127.823529,73.058824,150.647059,32.582353,0.535765,33.764706,0.411765
30,3.555556,114.444444,69.296296,88.407407,33.459259,0.476111,31.555556,0.333333
31,4.736842,125.105263,75.631579,47.473684,33.663158,0.472737,35.105263,0.315789
32,4.387097,111.709677,69.161290,95.516129,35.793548,0.456645,33.000000,0.451613
33,6.600000,144.350000,73.450000,197.250000,32.695000,0.430550,38.800000,0.450000
34,4.125000,125.000000,74.250000,159.750000,32.662500,0.566750,35.125000,0.375000
35,3.800000,125.866667,71.600000,138.200000,34.406667,0.599800,29.533333,0.533333
36,3.500000,133.642857,73.142857,126.428571,37.850000,0.410214,31.928571,0.571429
37,4.562500,119.312500,79.125000,111.812500,38.956250,0.591562,34.687500,0.500000
38,3.142857,132.000000,64.857143,74.000000,32.871429,0.277571,30.857143,0.285714
39,3.111111,132.666667,74.888889,145.388889,37.488889,0.680944,31.000000,0.444444
40,5.625000,109.312500,71.750000,73.125000,38.662500,0.434563,35.312500,0.312500
41,4.266667,118.600000,79.200000,124.333333,39.893333,0.570133,31.066667,0.466667
42,2.909091,133.000000,69.272727,193.454545,40.327273,0.687091,28.636364,0.545455
43,3.500000,149.666667,73.333333,146.666667,39.183333,0.600167,36.166667,0.333333
44,5.000000,144.000000,78.800000,249.600000,39.980000,0.491400,32.400000,0.600000
45,2.000000,126.666667,71.666667,230.333333,34.933333,0.460333,31.666667,0.500000
46,2.375000,135.125000,85.750000,134.000000,43.437500,0.377750,30.875000,0.625000
47,2.250000,109.500000,72.000000,138.500000,39.025000,0.645750,35.250000,0.500000
48,6.000000,135.500000,80.500000,270.500000,36.950000,1.117750,45.000000,0.500000
49,3.666667,143.333333,76.000000,286.333333,39.100000,0.703000,34.333333,1.000000
50,1.333333,106.333333,76.666667,129.666667,36.666667,0.332000,23.000000,0.000000
51,1.000000,122.000000,90.000000,220.000000,49.700000,0.325000,31.000000,1.000000
52,1.500000,93.000000,68.000000,61.000000,40.900000,0.797000,27.000000,0.000000
54,6.500000,126.500000,78.500000,0.000000,39.700000,0.276500,34.500000,0.000000
56,0.000000,162.000000,76.000000,100.000000,53.200000,0.759000,25.000000,1.000000
60,0.000000,100.000000,88.000000,110.000000,46.800000,0.962000,31.000000,0.000000
63,0.000000,180.000000,78.000000,14.000000,59.400000,2.420000,25.000000,1.000000
99,2.000000,197.000000,70.000000,0.000000,34.700000,0.575000,62.000000,1.000000

#sample_row_5

In [118]:
#print row 5 assign name survey sample 5
konstrnt_stud = survey_sample_5 
print(survey_sample_5.loc[5])

NameError: ignored

In [ ]:
#(rand(768,4),['skinthickness','insulin','diabetespedigreefunction','bmi','outcome'] )

In [ ]:
#pandas series

In [ ]:
#dataset = pd.Series() two dimensional with assigned indexe values

a = ['skinthickness','bmi','diabethespedigreefunction','age','outcome']
label= ['x','y','z','a','b']
dataset1 = pd.Series(data=a, index=label )  #convert list to the pandas series

print(dataset1)

In [ ]:
#dataset = konstrnt_stud
#label= ['x','y','z','a','b','c','t','v','m',]
#= pd.Series(dataset=konstrnt_stud)
#print(dataset)

In [ ]:
dataset = konstrnt_stud

#numpy

In [ ]:
#random Numbers 
from numpy import random 
x=random.randint(100, size=(200))
print(x)

In [ ]:
from numpy.random import randn
np.random.seed(123)
x = random.rand()
print(x)

In [ ]:
dataset = np.array(konstrnt_stud )
dataset

#Conclusion

The calculated mean of age and outcome show similarities. In fact, exploratory research indicates a corelation between body mass index, gender, skin thickness and age relative to the outcome of the effects ofthe diseaese overtime.  According to our data, a 0 label signifies non diabetic result and alternatively, 1 repreesenting diabetic result.