<a href="https://colab.research.google.com/github/TVHM/summer_microcredentials_BUS/blob/main/Group_7_mcphearson__diabetes_miniproject_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [307]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix

Overview

The PIMA Indian Diabetes Disease Database constraint, consisting of women at least 21 years of age and of Pima Indian descent, is admittedly a diagnostic drawback in predicting whether or not a all patients admitted for hostpital care have diabetesm the basis of the model certainly consists of a universal approach, diagnostic measurements that include such as  diabtes pedigree function, skin thickness and age. 

Predictor - independent variables
Target      dependent variable

In [308]:
 
diabetes_dataset = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/diabetes.csv')
 
konstrnt_stud = diabetes_dataset

In [309]:
konstrnt_stud.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [310]:
dataset = konstrnt_stud

In [311]:
dataset.shape

(768, 9)

In [312]:
dataset.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [313]:
#find missing values
dataset.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [314]:
from numpy.random import randn
np.random.seed(123)
x = random.rand()
data = konstrnt_stud
konstrnt_stud = pd.DataFrame(data)
print(konstrnt_stud)

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
1              1       85             66             29        0  26.6
2              8      183             64              0        0  23.3
3              1       89             66             23       94  28.1
4              0      137             40             35      168  43.1
..           ...      ...            ...            ...      ...   ...
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age  Outcome
0                       0.627   50        1
1                       0.351   31        0
2                       0.672   32        1
3                       0.167   21        0
4                       2.288   33        1
..                        ...  ...      ...
763                     0.171   63        0
764                     0.340   27        0
765                     0.245   30        0
766                     0.349   47        1
767                     0.315   23        0

[768 rows x 9 columns]

#sample_row_5

In [315]:
#print row 5 assign name survey sample 5
konstrnt_stud = survey_sample_5 
print(survey_sample_5.loc[5])

Pregnancies                   5.000
Glucose                     116.000
BloodPressure                74.000
SkinThickness                 0.000
Insulin                       0.000
BMI                          25.600
DiabetesPedigreeFunction      0.201
Age                          30.000
Outcome                       0.000
Name: 5, dtype: float64

In [316]:
#(rand(768,4),['skinthickness','insulin','diabetespedigreefunction','bmi','outcome'] )

In [317]:
#pandas series

In [318]:
#dataset = pd.Series() two dimensional with assigned indexe values

a = ['skinthickness','bmi','diabethespedigreefunction','age','outcome']
label= ['x','y','z','a','b']
dataset1 = pd.Series(data=a, index=label )  #convert list to the pandas series

print(dataset1)

x                skinthickness
y                          bmi
z    diabethespedigreefunction
a                          age
b                      outcome
dtype: object

In [ ]:
#dataset = konstrnt_stud
#label= ['x','y','z','a','b','c','t','v','m',]
#= pd.Series(dataset=konstrnt_stud)
#print(dataset)

In [ ]:
dataset = konstrnt_stud

#numpy

In [ ]:
#random sumbers 
from numpy import random 
x=random.randint(100, size=(200))
print(x)

In [ ]:
from numpy.random import randn
np.random.seed(123)
x = random.rand()
print(x)

In [ ]:
dataset = np.array(konstrnt_stud )
dataset

#Conclusion

The calculated mean of age and outcome show similarities. In fact, exploratory research indicates a corelation between the body mass index, gender, skin thickness in addition to age and outcome related to the effects and from the duration of diabetes disease.