<a href="https://colab.research.google.com/github/TVHM/summer_microcredentials_BUS/blob/main/mcphearson__diabetes_miniproject_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [172]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix
from sklearn import svm

Overview

The PIMA Indian Diabetes Disease Database constraint, consisting of women at least 21 years of age and of Pima Indian descent, is admittedly a diagnostic drawback in predicting whether or not a all patients admitted for hostpital care have diabetesm the basis of the model certainly consists of a universal approach, diagnostic measurements that include such as  diabtes pedigree function, skin thickness and age. 

Predictor - independent variables
Target      dependent variable

Data Collection and Analysis

PIMA Data Set

In [173]:
 #loading the data set to a dataframe and data varaiable defined 
diabetes_dataset = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/diabetes.csv')
 
konstrnt_stud = diabetes_dataset

In [174]:
pd.read_csv?

In [175]:
konstrnt_stud.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [176]:
dataset = konstrnt_stud

In [177]:
dataset.shape

(768, 9)

In [178]:
dataset.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [179]:
#find missing values
dataset.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [180]:
# outocome 0, 1 
konstrnt_stud['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [181]:
konstrnt_stud.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [182]:
X = konstrnt_stud.drop(columns = 'Outcome', axis=1)
Y = konstrnt_stud['Outcome']

In [183]:
print(X)

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
1              1       85             66             29        0  26.6
2              8      183             64              0        0  23.3
3              1       89             66             23       94  28.1
4              0      137             40             35      168  43.1
..           ...      ...            ...            ...      ...   ...
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age
0                       0.627   50
1                       0.351   31
2                       0.672   32
3                       0.167   21
4                       2.288   33
..                        ...  ...
763                     0.171   63
764                     0.340   27
765                     0.245   30
766                     0.349   47
767                     0.315   23

[768 rows x 8 columns]

In [184]:
print(Y)

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

Data Standardization

In [185]:
#scaler variable 
scaler = StandardScaler()

In [186]:
scaler.fit(X)

StandardScaler()

In [187]:
standardized_data = scaler.transform(X)

In [188]:
print(standardized_data)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

In [189]:
X = standardized_data
Y = konstrnt_stud['Outcome']

In [190]:
print(X)
print(Y)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]
0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

Train Test Split

In [191]:
# name varibles 
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.2, stratify=Y, random_state=2)

In [192]:
print(X.shape, X_train.shape, X_test.shape)

(768, 8) (614, 8) (154, 8)

#Training the model

In [193]:
#the training model is stored in the classifier
classifier = svm.SVC(kernel='linear')

In [194]:
#training the support vector Machine Classiifier
classifier.fit(X_train, Y_train)

SVC(kernel='linear')

Model Evaluation

Accuracy Score

In [195]:
#accuracy score on the training data

In [196]:
X_train_prediction = classifier.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [197]:
print('Accuracy score of the training data : ', training_data_accuracy)

Accuracy score of the training data :  0.7866449511400652

In [198]:
X_test_prediction = classifier.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [199]:
print('Accuracy score of the test data : ', test_data_accuracy)

Accuracy score of the test data :  0.7727272727272727

Making a predictiive Sytem

In [204]:
# predictor model for data 0 - 8,99,84,0,0,35.4,0.388,50,0
input_data = (8,99,84,0,0,35.4,0.388,50) 

#changing the input data to nupy array
input_data_as_numpy_array = np.array(input_data)

#reshape the array as we are prdicting for one instance 
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)
                                            
#standardized the input data
std_data = scaler.transform(input_data_reshaped)
print(std_data)

prediction = classifier.predict(std_data)
print(prediction)

if (prediction[0] == 0):
 print ('The person is not diabetic')
else:
 print('The person is diabetic')

[[ 1.23388019 -0.68523633  0.77001375 -1.28821221 -0.69289057  0.43246741
  -0.25331639  1.4259954 ]]
[0]
The person is not diabetic

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"

In [ ]:
konstrnt_stud.groupby('SkinThickness').mean()

#sample_row_5

In [ ]:
#print row 5 assign name survey sample 5
konstrnt_stud = survey_sample_5 
print(survey_sample_5.loc[5])

In [ ]:
#(rand(768,4),['skinthickness','insulin','diabetespedigreefunction','bmi','outcome'] )

In [ ]:
#pandas series

In [ ]:
#dataset = pd.Series() two dimensional with assigned indexe values

a = ['skinthickness','bmi','diabethespedigreefunction','age','outcome']
label= ['x','y','z','a','b']
dataset1 = pd.Series(data=a, index=label )  #convert list to the pandas series

print(dataset1)

In [ ]:
#dataset = konstrnt_stud
#label= ['x','y','z','a','b','c','t','v','m',]
#= pd.Series(dataset=konstrnt_stud)
#print(dataset)

In [ ]:
dataset = konstrnt_stud

#numpy

In [ ]:
#random Numbers 
from numpy import random 
x=random.randint(100, size=(200))
print(x)

In [ ]:
from numpy.random import randn
np.random.seed(123)
x = random.rand()
print(x)

In [ ]:
dataset = np.array(konstrnt_stud )
dataset

#Conclusion

The calculated mean of age and outcome show similarities. In fact, exploratory research indicates a corelation between body mass index, gender, skin thickness and age relative to the outcome of the effects ofthe diseaese overtime.  According to our data, a 0 label signifies non diabetic result and alternatively, 1 repreesenting diabetic result.