<a href="https://colab.research.google.com/github/TVHM/summer_microcredentials_BUS/blob/main/state_mcphearson__of_COVID19_DATA_ANALYSIS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#STEP ONE setup the environment import required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import style

In [ ]:
#STEP TWO DATA COLLECTION source repository 
df = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/us.csv')

In [ ]:
df.head()

         date  cases  deaths
0  2020-01-21      1       0
1  2020-01-22      1       0
2  2020-01-23      1       0
3  2020-01-24      2       0
4  2020-01-25      3       0

In [ ]:
df.shape

(913, 3)

In [ ]:
df.columns

Index(['date', 'cases', 'deaths'], dtype='object')

In [ ]:
#STEP THREE Analyzethe data - Exploratory

In [ ]:
life_df = df[df['deaths']=='0']
life_df.head()

Empty DataFrame
Columns: [date, cases, deaths]
Index: []

In [ ]:
life_df.shape

(0, 3)

In [ ]:
#first death in NY
first_ny_death = ny_df[ny_df['deaths']!=0]
first_ny_death.head()